/* ------------------------------------------------------ */
/* RESET */
/* ------------------------------------------------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------ */
/* CAROUSEL */
/* ------------------------------------------------------ */
.container-carousel{
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-csm{
  height: 300px;
  display: flex;
}

.carousel-img{
  width: 700px;
  height: 100%;
}

.carousel-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------------------------ */
/* BUTTON */
/* ------------------------------------------------------ */

.btn-csm{
  width: 24px;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-up{
  top: 8px;
}

.btn-down{
  bottom: 8px;
}

/* ------------------------------------------------------ */
/* THUMBNAILS */
/* ------------------------------------------------------ */

.carousel-thumbnails{
  width: 150px;
  height: 100%;
  background-color: rgb(214, 158, 85);
  position: relative;
}

.carousel-thumb{
  height: 100%;
}

.carousel-thumb img{
  width: 100%;
  height: 20%; /* qeusta height forse dovrebbe essere data da js */
  object-fit: cover;
  display: block;
}


/* ------------------------------------------------------ */
/* UTILITY */
/* ------------------------------------------------------ */
.hide{
  display: none;
}


